[submodule "packages/yasnippet-django"]
	path = packages/yasnippet-django
	url = https://github.com/DictGet/yasnippet-django.git
        ignore = dirty
[submodule "packages/yasnippet-snippets"]
	path = packages/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
        ignore = dirty
