 *~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

.cask/
elpa/
eshell/

.DS_Store
xkcd

projectile-bookmarks.eld
*.dat
.mc-lists.el
.python-environments/
*.cache
recentf
session.*
*.el-old
packages/*